@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Pacifico', sans-serif;
    background: linear-gradient(115deg, #f9fbfb 10%, #6a4949 90%);
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    border-bottom: 5px solid #4d0e0e;
}

nav h1 {
    color: #813333;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    text-shadow: #5e5d5c 2px 0 12px;
}

nav .onglets {
    margin-top: 3px;
    margin-left: 900px;
}

nav .onglets a {
    text-decoration: none;
    color: #000;
    margin-right: 1px;
    border-bottom: 1px solid rgb(250, 247, 247);
    padding-bottom: 50px;
    font-size: 20px;
    text-shadow: #5e5d5c 2px 0 12px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('https://img-19.commentcamarche.net/NxVn34A-nBrQZiv-rCSkipp7d08=/480x335/smart/40fb22b0879446b4856035efd7a2d0f7/ccmcms-commentcamarche/15263909.jpg');
    background-size: cover;
    color: rgb(253, 250, 250);
    padding: 40px;
}

header h1 {
    font-family: 'Indie Flower', sans-serif;
    font-size: 40px;
}

header h4 {
    margin-top: -20px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    font-family: 'Indie Flower', sans-serif;
}

header a {
    color: rgb(255, 255, 255);
}

header button {
    padding: 10px 20px;
    background-color: rgb(155, 139, 139);
    color: #000;
    border: none;
    margin-bottom: 20px;
    outline: none;
    font-size: 15px;
    font-family: 'Indie Flower', sans-serif;
    cursor: pointer;
}

.main {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .content .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.main .content .card .left {
    flex: 0 0 30%;
    padding: 20px;
    background-color: rgba(129, 104, 104, 0.884);
    color: rgb(0, 0, 0);
    font-family: 'Ubuntu', sans-serif;
}

.main .content .card .right img {
    height: 300px;
    width: 400px;
    margin-top: 5px;
}

section p {
    font-family: 'Indie Flower', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 19px;
}

section h1 {
    border-bottom: 3px solid rgb(0, 0, 0);
    font-size: 25px;
}



@media screen and (max-width:680px) {
    nav .onglets {
        margin-left: 0px;
        margin-bottom: 20px;
    }
}