*, ::before, ::after {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
}

body {
  height: 100vh;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(rgba(154, 155, 161, 0.9),rgba(154, 155, 161, 0.9)),url(background.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-style  {
  border-collapse: collapse;
  box-shadow: 0 5px 50px rgba(0,0,0,0.15);
  cursor: pointer;
  margin: 30px auto;
  border: 2px solid midnightblue;
}

thead tr {
  background-color: rgb(177, 162, 162);
  color: rgb(103, 59, 59);
  text-align: left;
}

th, td {
  padding: 15px 20px;
  text-align: center;
}

tbody tr, td, th {
  border: 1px solid #ddd;
}

tbody tr:nth-child(even){
  background-color: #f3f3f3;
}

@media screen and (max-width: 550px) {
body {
  align-items: flex-start;
}
.table-style  {
  width: 100%;
  margin: 0px;
  font-size: 10px;
}
th, td {
  padding: 10px 7px;
}

}
.sidebar{
  position: fixed;
  background: linear-gradient(135deg, rgb(175, 30, 93), #96aff0);
  width: 200px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.sidebar h2{
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 20px;
  font-weight: bold;
  
}


.sidebar ul li {
  margin: 25px 0;
}

.sidebar ul li a{
  color: #ffffff;
  padding: 0 30px;

}
.sidebar ul li a:hover{
  color: #000000;
  margin-left: 20px;
  transition: 0.4s;
}