
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}
header{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}
.logo span{
    color: #bd1ffb;
}

.navbar{
    display: flex;
    position: relative;
}
.navbar li{
    list-style: none;
}
.navbar a{
    text-decoration: none;
    color: rgb(6, 2, 2);
    padding: 5px ;
    border: 1px solid transparent;
    margin-left: 30px;
    font-weight: 700;
}

.btn-reserve{
   padding: 10px 20px;
   background: linear-gradient(135deg, rgb(175, 30, 93), #96aff0);
   margin-top: -10px;
   text-transform:uppercase ;
}

.btn-reserve:hover{
    background: #bd1ffb;
    transition: 0.9s ease;
}

ul li a:hover{
    background: #fff;
    color: #000;
}
ul li.active a{
    background: #fff;
    color: #000;
}
section{
    padding: 200px;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50{
    position: relative;
    width: 48%;
    justify-content: center;
    align-items: center;

}

.row .col50 h2{
    margin-bottom: 20px;
}
.titre-texte{
    color: #000;
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
}

.titre-texte span{
    color: #bd1ffb;
    font-size: 1.5em;
    font-weight: 700px;
}

.row .col50 img{
    height: 450px;
    width: 600px;
    position: relative;
}
.titre{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu{
    margin-top: -100px;
}

.menu .contenu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.menu .contenu .box{
    width: 350px;
    margin: 20px;
    border: 20px solid #fff;
    box-shadow: 20px 15px 35px rgba(0,0,0, 0.8);
}

.menu .contenu .box .imbox{
    position: relative;
    width: 100%;
    height: 300px;
}

.menu .contenu .box .imbox img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.menu .contenu .box .text{
    text-align: center;
    font-weight: 300px;
    color: #111;
}

.menu .contenu .box .text h3{
    font-weight: 400;
}

.search-bar input{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;
    
}
.contact{
    background: linear-gradient(135deg, rgb(175, 30, 93), #96aff0);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.contact .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:3rem;
}
.contact .box-container .box h3{
    color: var(--white);
    font-size: 2.5rem;
    padding-bottom: 2rem;
}
.contact .box-container .box a{
    color: var(--light-white);
    font-size: 1.5rem;
    padding-bottom: 1rem;
    display: block;
}
.contact .box-container .box a i{
    color:var(--main-color);
    padding-right: .5rem;
    transition: .2s linear;
}
.contact .box-container .box a:hover i{
    padding-right: .2rem;
}
/* Sidebar start here  */
.sidebar{
    position: fixed;
    background: linear-gradient(135deg, rgb(175, 30, 93), #96aff0);
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.sidebar h2{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 20px;
    font-weight: bold;
    
}


.sidebar ul li {
    margin: 25px 0;
}

.sidebar ul li a{
    color: #ffffff;
    padding: 0 30px;

}
.sidebar ul li a:hover{
    color: #000000;
    margin-left: 20px;
    transition: 0.4s;
}